/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Roboto:wght@400;500;700&family=Lato:wght@400;700&family=DM+Sans:wght@400;500;700&family=Inter:wght@400;500;700&display=swap');

/* Tailwind CSS */
@import "tailwindcss";

/* Root variables */
:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-roboto: 'Roboto', sans-serif;
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Base styles */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: 
    var(--font-roboto),
    Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* Headings */
h1 {
  font-size: 2.85rem; /* 36px */
  font-weight: 800;
  line-height: 1.2;
}

h2 {
  font-size: 2.2rem; /* 30px */
  font-weight: 700;
  line-height: 1.3;
}

h3 {
  font-size: 1.5rem; /* 24px */
  font-weight: 600;
  line-height: 1.3;
}

h4 {
  font-size: 1.25rem; /* 20px */
  font-weight: 500;
  line-height: 1.4;
}

h5 {
  font-size: 1rem; /* 16px */
  font-weight: 500;
  line-height: 1.4;
}

h6 {
  font-size: 0.875rem; /* 14px */
  font-weight: 500;
  line-height: 1.4;
}

